@import "tailwindcss";

@theme {
  --breakpoint-ms: 420px;
}

@layer utilities {
  .ani-smooth {
    @apply transition-all duration-400 ease-linear;
  }

  .text-gradient-p{
    @apply bg-clip-text text-transparent bg-gradient-to-l from-blue-400 to-purple-600;
  }

  .max-w{
    @apply max-w-[1440px] m-auto;
  }
  
  .bg-main{
    @apply bg-[var(--main-bg)];
  }
  .beforeCon  {
    @apply before:content-[""] before:absolute before:h-full before:w-full;
  }
  .afterCon  {
    @apply after:content-[''] after:absolute after:h-full after:w-full;
  }

  .shadow-inset-lg {
    &:hover{
      box-shadow: inset 0 2px 8px -1px rgb(140, 0, 255);
      transform: translateY(-8px);
    }
  }
}
